@page
@model GestaoChamadosWeb.Pages.FAQModel
@{
}

<!--TÍTULO-->
<div class="center-title">
    <h1 class="title mt-3 mb-5 text-center">Perguntas Frequentes</h1>
</div>

<main class="container mb-5">
    <!-- Introdução breve -->
    <p class="text-center fs-5 mb-4">
        Aqui você encontra respostas rápidas para as principais dúvidas dos nossos usuários.
        Caso não encontre o que procura, entre em <a asp-page="/Atendimento" class="text-decoration-underline">contato com o suporte</a>.
    </p>

    <!-- Seção de perguntas -->
    <div class="accordion" id="accordionExample">

        <!-- 1 Pergunta-->
        <div class="accordion-item">

            <!--Titulo da Pergunta-->
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Accordion Item #1
                </button>
            </h2>

            <!--Resposta da Pergunta-->
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the first item’s accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>

        <!-- 2 Pergunta-->
        <div class="accordion-item">

            <!--Titulo da Pergunta-->
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Accordion Item #2
                </button>
            </h2>

            <!--Resposta da Pergunta-->
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the second item’s accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>

        <!--3 Pergunta-->
        <div class="accordion-item">

            <!--Titulo da Pergunta-->
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Accordion Item #3
                </button>
            </h2>

            <!--Resposta da Pergunta-->
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the third item’s accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
    </div>
</main>
